<template>
    <div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">Bank Name</label>

            <div class="col-md-6">
                <input v-model="bankName" id="bank-name" type="text" class="form-control" name="bank-name" required autocomplete="bank-name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">IBAN</label>

            <div class="col-md-6">
                <input v-model="iban" id="iban" type="text" class="form-control" name="iban" required autocomplete="iban">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BankStatementComponent",
        props: ['file'],
        data() {
            return {
                bankName: this.file.bank_statement ? this.file.bank_statement.bankName : null,
                iban: this.file.bank_statement ? this.file.bank_statement.iban : null
            }
        }
    }
</script>

<style scoped>

</style>
