<template>
    <div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">Payment Type</label>

            <div class="col-md-6">
                <select name="paymentMethodId" class="form-control" v-model="selectedPaymentMethod">
                    <option v-for="method in paymentMethods" :value="method.id">{{method.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">Note</label>

            <div class="col-md-6">
                <input id="note" type="text" class="form-control" v-model="note" name="note" required>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CreditNoteComponent",
        props: ['file', 'paymentMethods'],
        data() {
            return {
                selectedPaymentMethod: this.file.credit_note ? this.file.credit_note.paymentMethodId : null,
                note: this.file.credit_note ? this.file.credit_note.note : null,
            }
        }
    }
</script>

<style scoped>

</style>
