<template>
    <div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">Type</label>

            <div class="col-md-6">
                <select name="typeId" class="form-control" v-model="selectedType">
                    <option v-for="type in types" :value="type.id">{{type.name}}</option>
                </select>
            </div>
        </div>
        <div v-if="selectedType === 1">
            <invoice-component :file="file" :currencies="currencies"></invoice-component>
        </div>
        <div v-else-if="selectedType === 2">
            <bank-statement-component :file="file"></bank-statement-component>
        </div>
        <div v-else-if="selectedType === 3">
            <credit-note-component :file="file" :payment-methods="methods"></credit-note-component>
        </div>
    </div>
</template>

<script>
    import InvoiceComponent from "./InvoiceComponent";
    import BankStatementComponent from "./BankStatementComponent";
    import CreditNoteComponent from "./CreditNoteComponent";
    export default {
        name: 'file-types',
        components: {CreditNoteComponent, BankStatementComponent, InvoiceComponent},
        props: ['file', 'types', 'methods', 'currencies'],
        data() {
            return {
                selectedType: this.file.typeId,
            }
        }
    }
</script>
