<template>
<div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Tax Base</label>

        <div class="col-md-6">
            <input id="tax-base" v-model="taxBase" type="number" step="0.01" min=0 class="form-control" name="tax-base" required autocomplete="tax-base">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Currency</label>

        <div class="col-md-6">
            <select name="currencyId" class="form-control" v-model="selectedCurrency">
                <option v-for="currency in currencies" :value="currency.id">{{currency.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">VAT</label>

        <div class="col-md-6">
            <input id="vat" type="checkbox" v-model="vat" class="form-control" name="vat">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Price</label>

        <div class="col-md-6">
            <input id="price" v-model="price" type="number" step="0.01" min=0 class="form-control" name="price" required autocomplete="price">
        </div>
    </div>
</div>
</template>

<script>
    export default {
        name: "InvoiceComponent",
        props: ['file', 'currencies'],
        data() {
            return {
                taxBase: this.file.invoice ? this.file.invoice.taxBase : null,
                selectedCurrency: this.file.invoice ? this.file.invoice.currencyId : null,
                vat: this.file.invoice ? this.file.invoice.vat : null,
                price: this.file.invoice ? this.file.invoice.price : null,
            }
        }
    }
</script>

<style scoped>

</style>
